
SECRET_KEY="an-example-of-secret-word"

MAIL_SERVER="your-server@example.con"
MAIL_PORT=587
MAIL_USE_TLS=1
MAIL_USERNAME=<your-email-adress>
MAIL_PASSWORD=<your-email-password>
ADMINS=<your-admins-password-separated-with-comma>
