<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	{% if title %}
    	    <title>{{ title }} - Creative Studio</title>
    	{% else %}
    	    <title>Welcome to Creative Studio</title>
    	{% endif %}
        <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
        <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </head>
    <style>

    </style>
    <body class="flex flex-col items-center justify-center w-full relative">
        <nav class="sticky top-0 z-50 w-full py-4 backdrop-blur text-slate-800 text-sm px-6 md:px-16 lg:px-24 xl:px-32">
            <div class="flex items-center justify-between w-full max-w-7xl mx-auto">
                <div class="w-48">
                    <a href="{{ url_for('main.index') }}">
                        <span class="text-2xl  font-semibold text-red-600">creative studio</span>
                    </a>
                </div>

                <div class="hidden lg:flex items-center gap-8 transition duration-500 absolute left-1/2 transform -translate-x-1/2">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.index') }}" class="hover:text-slate-500 transition">Home</a>
                        <a href="{{ url_for('explore.explore') }}" class="hover:text-slate-500 transition">Explore</a>
                        <a href="{{ url_for('modules.modules_grid') }}" class="hover:text-slate-500 transition">Modules</a>
                        <a href="{{ url_for('gallery.gallery') }}" class="hover:text-slate-500 transition">Gallery</a>
                    {% endif %}
                </div>

                <div class="hidden lg:flex items-center space-x-3">
                    {% if  current_user.is_anonymous %}
                        <button class="px-6 py-2 bg-red-600 hover:bg-red-700 transition text-white rounded-md" onclick="window.location.href = `{{ url_for('auth.register') }}`; ">Get started</button>
                        <button onclick="window.location.href =`{{ url_for('auth.login') }}`"
                                type="button"
                                class="group relative flex items-center hover:border-red-400 gap-2 px-4 py-2 rounded-lg border-2 border-gray-200 transition-all duration-200">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="group-hover:stroke-red-600 transition-colors text-gray-500">
                                <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>
                                <polyline points="10 17 15 12 10 7"></polyline>
                                <line x1="15" y1="12" x2="3" y2="12"></line>
                            </svg>
                            <span class="text-sm font-medium text-gray-700 group-hover:text-red-600 transition-colors">Login</span>
                        </button>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <button onclick="window.location.href =`{{ url_for('profile.user', username=current_user.username) }}`"
                                type="button"
                                class="group relative flex items-center hover:border-red-400 gap-2 px-4 py-2 rounded-lg border-2 border-gray-200 transition-all duration-200">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#3a3a3a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="group-hover:stroke-red-600 transition-colors">
                                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                            <span class="text-sm font-medium text-gray-700 group-hover:text-red-600 transition-colors">Profile</span>
                        </button>

                        <button class="text-sm font-medium px-6 py-2 bg-red-600 hover:bg-red-700 transition text-white rounded-md flex items-center gap-2" onclick="window.location.href = `{{ url_for('auth.logout') }}`; ">
                            <div>Logout</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" x2="9" y1="12" y2="12"></line></svg>
                        </button>
                    {% endif %}
                </div>

                <div class="lg:hidden flex items-center space-x-3">
                    {% if current_user.is_authenticated %}
                    <button onclick="window.location.href =`{{ url_for('profile.user', username=current_user.username) }}`"
                            type="button"
                            class="relative h-10 w-10 rounded-lg border-2 border-gray-300 bg-white flex items-center justify-center active:border-red-500 active:bg-red-50 active:scale-95 transition-all duration-150">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="active:stroke-red-600 transition-colors duration-150 text-gray-500">
                            <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </button>
                    {% endif %}
                    <button id="open-menu" class="h-10 w-10 rounded-lg border-2 border-gray-300 bg-white flex items-center justify-center lg:hidden active:border-red-500 active:bg-red-50 active:scale-95 transition-all duration-150">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="active:stroke-red-600 transition-colors duration-150 text-gray-500 h-5 w-5">
                            <path d="M4 6h16"/>
                            <path d="M4 12h16"/>
                            <path d="M4 18h16"/>
                        </svg>
                    </button>
                </div>
            </div>
        </nav>

        <div id="mobile-navLinks" class="fixed inset-0 z-100 bg-white/60 text-slate-800 backdrop-blur flex flex-col items-center justify-center text-lg gap-8 lg:hidden transition-transform duration-300 -translate-x-full">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.index') }}">Home</a>
            {% endif %}
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a class="text-red-700" href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('explore.explore') }}">Explore</a>
                <a href="{{ url_for('modules.modules_grid') }}">Modules</a>
                <a href="{{ url_for('gallery.gallery') }}">Gallery</a>
                <a class="text-red-700" href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
            <button id="close-menu" class="active:ring-3 active:ring-white aspect-square size-10 p-1 items-center justify-center bg-slate-100 hover:bg-slate-200 transition text-black rounded-md flex">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            </button>
        </div>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for message in messages %}
                <div id="flash-element" class="z-40 fixed top-8  opacity-0 translate-y-0 transition-all duration-500 ease-out flex items-center justify-between {% if message[0] == 'error' %}  bg-red-100 text-red-600 {% else %} bg-blue-400 text-white {% endif %} px-3 h-10 rounded-sm my-4">
                    <div class="flex items-center max-w-mg lg:max-w-xl">
                        <svg class="cursor-pointer" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 14.167q.354 0 .593-.24.24-.24.24-.594a.8.8 0 0 0-.24-.593.8.8 0 0 0-.594-.24.8.8 0 0 0-.593.24.8.8 0 0 0-.24.593q0 .354.24.594t.593.24m-.834-3.334h1.667v-5H9.166zm.833 7.5a8.1 8.1 0 0 1-3.25-.656 8.4 8.4 0 0 1-2.645-1.781 8.4 8.4 0 0 1-1.782-2.646A8.1 8.1 0 0 1 1.666 10q0-1.73.656-3.25a8.4 8.4 0 0 1 1.782-2.646 8.4 8.4 0 0 1 2.645-1.781A8.1 8.1 0 0 1 10 1.667q1.73 0 3.25.656a8.4 8.4 0 0 1 2.646 1.781 8.4 8.4 0 0 1 1.781 2.646 8.1 8.1 0 0 1 .657 3.25 8.1 8.1 0 0 1-.657 3.25 8.4 8.4 0 0 1-1.78 2.646 8.4 8.4 0 0 1-2.647 1.781 8.1 8.1 0 0 1-3.25.656" fill="currentColor"/>
                        </svg>
                        <p class="text-sm ml-2">{{ message[1] }}</p>
                    </div>
                    <button id="close-flash" type="button" aria-label="close" class="active:scale-90 transition-all ml-2">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 5 5 15M5 5l10 10" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
